.users_data {
  width:120px;
  height:300px;
  overflow: scroll;
}

h1 {
  text-align: center;
}

.circleDiagram{
  left: -215px;
  width: 800px;
  text-align: center;
}

.tableStatistics {
  display: block;
  position:absolute;
  right:50px;
  top:80px;
  height:450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: white
}

.tableAgeStatistics{
  display: block;
  position: absolute;
  right:50px;
  top:600px;
  height:450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: white
}

.tableWomenNamesStatistics{
  display: block;
  position:absolute;
  right:50px;
  top:630px;
  width: 185px;
  height:450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  background-color: white
}
/*
.tableCityStatistics {
  display: block;
  width: 320px;
  height:450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.tableCountryStatistics{
  display: block;
  width: 320px;
  height:450px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
} */

.dataForm{
  padding:2px;
  border: 2px solid grey ;
  width:200px;
  margin-top: 5px;
}

.photoCollage {
  width:432px;
  height:500px;
  border: solid 3px grey;
  position:absolute;
  top: 200px;
  right: 350px;
  margin-left:-307.5px;
  overflow:scroll;
}

.contentImg{
  width:90px;
  height:120px;
  margin: 5px;
}

.contentImg:hover{
  opacity: 0.5;
}
.photoCollageTitle{
  position:absolute;
  top: 140px;
  right: 430px;
}

body{
  padding-left: 15px;
  background-color: lightgrey;
}

 .mainPageButton{
   color: white;
   background-color: #ff9400;
   height: 50px;
   width: 150px;
   border: 2px solid grey;
 }

 .mainPageButton:hover{
   background-color: #ffbc5e;
 }

.mainPageTitle{
  background-color: #ff9400;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}
